@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Oswald:wght@500&display=swap');

body {
  font-size: "25px";
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #1c1c1c;
}

a {
  text-decoration: none;
  color: #0084ff;
}

.game-link {
  height: 400px;
  width: 300px;
}

.game-tile {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  background-color: #949494;
  color: #ffffff;
}

.game-tile:hover {
  text-decoration: none;
}

.game-icon {
  border-radius: 20px;
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;    /* Center horizontally */
  position: relative; /* Allow for vertical positioning */
  top: 40%;          /* Move down by 50% of its height */
  transform: translateY(-50%);
}

.game-title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  display: block;
  margin: 0  auto;
  position: relative;
  top: 15%;
  transform: translateY(-50%);
  font-family: Lexend;
}

.flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}
